@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..900&display=swap');

* {
  transition: all 400ms ease-in-out, transform 75ms, box-shadow 125ms, margin 125ms, padding 125ms;
  box-sizing: border-box;
}

.backlight {
  filter: url(#blur-and-scale);
}

.invert {
  filter: invert(0.85);
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--primary);
}

small {
  font-size: 0.75rem;
}

main,
main > section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  padding: 1dvh 5dvw;
  text-align: end;
  font-size: 0.85rem;
  color: var(--secondary);
  background: linear-gradient(-60deg, var(--gradient-1-header), var(--gradient-0-header), var(--gradient-2-header));
  background-size: 250% 250%;
  background-position: center;
  box-shadow: 0 -1px 1dvh var(--shadow);
}

footer:hover {
  box-shadow: 0 -1px 1dvh 4px var(--shadow);
}

footer a {
  text-decoration: none;
}

header {
  padding: 4dvh 0 1dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);
  background: linear-gradient(-60deg, var(--gradient-1-header), var(--gradient-0-header), var(--gradient-2-header));
  background-size: 250% 250%;
  background-position: center;
  box-shadow: 0 1px 1dvh var(--shadow);
}

header:hover {
  box-shadow: 0 1px 1dvh 4px var(--shadow);
}

header video {
  height: 5rem;
  height: max(8dvw, 12dvh);
  width: 5rem;
  width: max(8dvw, 12dvh);
  border-radius: max(1dvw, 1dvh);
  outline: 1px solid var(--secondary);
  box-shadow: 0 0 max(2dvw, 2dvh) 2px var(--shadow);
}

header video:hover {
  box-shadow: 0 0 max(2dvw, 2dvh) 8px var(--shadow);
}

header small {
  display: flex;
  align-items: center;
}

header small img {
  margin-right: 0.25rem;
  height: 0.85rem;
  width: auto;
}

h1 {
  display: inline-block;
  width: fit-content;
  font-size: 0.85rem;
  font-size: max(0.85rem, 2.2dvh);
  font-weight: 185;
  border-radius: 0.5rem;
  padding: 0.1rem 0.75rem;
  margin: 0.5rem 0 0.15rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2dvh 0;
}

section ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

section li a:hover img, section .sub-link a:hover img {
  transform: scale(2.5);
  filter: url(#blur-and-scale);
}
section .sub-link a:hover img {
  transform: scale(1.5);
}

section li a:hover span, section .sub-link a:hover span {
  filter: url(#blur-and-scale);
}

section.links ul {
  flex-direction: column;
}

section.links li, section.links .sub-link {
  font-weight: 320;
  background-color: var(--background-secondary);
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  box-shadow: 0 0 max(1dvw, 1dvh) 0 var(--primary);
  width: min(480px, 90%);
  margin: 1.5dvh auto;
  border-radius: 2rem;
  outline: 1px solid var(--primary);
  z-index: 10;
}

section.links .sub-link {
  background-color: var(--background-secondary-lighter);
  box-shadow: 0 0 max(1dvw, 1dvh) 0 var(--primary-lighter);
  outline: 1px solid var(--primary-lighter);
  margin: -4dvh auto 1.75dvh;
  border-radius: 0 0 2rem 2rem;
  padding-top: 2dvh;
  z-index: 1;
}

section.links li:hover, section.links .sub-link:hover {
  box-shadow: 0 0 max(1.5dvw, 1.5dvh) 0 var(--shadow);
}
section.links .sub-link:hover {
  margin: -5dvh auto 0.75dvh;
  padding-top: 4dvh;
}

section.links li a, section.links .sub-link a {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem;
  border-radius: 50px;
}

section.links li a img, section.links .sub-link a img {
  height: 1.85rem;
  width: auto;
}

section.links li a span, section.links .sub-link a span {
  flex-grow: 1;
  margin-left: -1.5rem;
}

section.socials ul {
  flex-direction: row;
}

section.socials li {
  margin: 1.5rem;
}

section.socials li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

section.socials li a img {
  height: 1.5rem;
  width: auto;
}
