body {
  overscroll-behavior-y: contain; /* prevents pull-to-refresh on mobile */
}

#stats-container {
  display: flex;
  flex-direction: column;
  opacity: 0.85;
  font-weight: 200;
  font-size: smaller;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  background: #eeee;
  border-radius: 0.5rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: #fffd;
  z-index: -1;
}
