
.video-container {
  width: 85vw;
  height: calc(85vw * 3 / 4);
  margin: 24px auto;
}

video#webcam {
  transform: rotateY(180deg);
  border-radius: 32px;
  outline: 4px solid #cccc;
}

canvas#sierpinski {
  display: block;
  margin: auto;
}
