.cursive {
  font-family: cursive;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 0.5rem 1rem;
}

main {
  flex-grow: 1;
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section.centered {
  text-align: center;
}

section.centered * {
  text-align: center;
}