.cursive {
  font-family: cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  margin-bottom: 1rem;
}

main {
  flex-grow: 1;
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section.centered {
  text-align: center;
}

section.centered * {
  text-align: center;
}

section .flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.input-section, .output-section {
    margin-bottom: 2rem;
    border: 1px solid #eee;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-section p {
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
}

input[type="file"],
textarea {
    width: calc(100% - 20px);
    min-height: 48px;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    
    resize: vertical;
}

.image-preview,
.svg-preview {
    border: 1px dashed #ccc;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: #e9e9e9;
    border-radius: 4px;
    overflow: hidden;
}

.image-preview img,
.svg-preview svg {
    max-width: 80%;
    max-height: 150px;
    height: auto;
    display: block;
}

button {
    display: block;
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.output-section button {
    width: auto;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 1rem;
}

.output-section button:last-child {
    margin-right: 0;
}

.output-section textarea {
    margin-bottom: 1rem;
}
