.cursive {
  font-family: cursive;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 0.5rem 1rem;
}

main {
  flex-grow: 1;
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 640px;
  margin: 4dvh auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  align-self: flex-start;
}

section.loaders > div {
  margin: 1.5rem;
}

footer {
  margin-top: 1rem;
  text-align: end;
}

footer a {
  text-decoration: none;
}
